.customNav {
  padding-right: calc(100vw - 100%);
}

.nav-item {
  padding: 16px;
  font-size: large;
}

.nav-toggler{
  border-color: none;
}

.navbar-brand {
  display: flex;
}

.nav-link {
  cursor: pointer;
}

@media (max-width: 991px) {
  .nav-item {
    border-top: 1px solid;
  }

  .navbar-brand {
    padding: 16px;
  }

  .nav-link:hover {
    border: none;
  }

  .nav-link.active {
    border: none;
  }

  #home {
    border: none;
  }
}
