<div class="container about-me-content d-flex" @fadeIn>
  <div class="text-center justify-content-center">
    <h1 class="about-me-h1-content color-title">Parliamo di me</h1>

    <p class="about-me-p-content">
      Sono un appassionato di programmazione e manutenzione hardware dei PC. La curiosità e la
      voglia di apprendere mi hanno spinto a esplorare il mondo della
      programmazione web nel 2022, quando ho iniziato ad approfondire HTML5 e
      CSS tramite corsi online. Questa esperienza ha suscitato in me un forte
      interesse per lo sviluppo web, motivandomi a proseguire con un corso di
      sviluppatore full stack presso TNV Academy di Cagliari nel 2023.
      <br /><br />
      Negli ultimi tempi mi sono concentrato principalmente su Angular,
      approfondendo le mie competenze in questo framework per la creazione di
      interfacce utente moderne e dinamiche. Al contempo, ho sviluppato un
      interesse crescente per tecnologie come React, MongoDB ed Express. Ho, inoltre, dimestichezza con il linguaggio Java e Spring.
    </p>

    <h2 class="about-me-h2-content color-title">Le mie skill</h2>
    <div class="justify-content-center">
      <div class="row">
        <div class="col d-flex justify-content-center mb-4 mt-3">
          <app-skill-card
            title="Front-End"
            [skills]="frontEndSkills"
          ></app-skill-card>
        </div>

        <div class="col d-flex justify-content-center mb-4 mt-3">
          <app-skill-card
            title="Back-End"
            [skills]="backEndSkills"
          ></app-skill-card>
        </div>

        <div class="col d-flex justify-content-center mb-4 mt-3">
          <app-skill-card
            title="Framework"
            [skills]="frameworkSkills"
          ></app-skill-card>
        </div>

        <div class="col d-flex justify-content-center mb-4 mt-3">
          <app-skill-card title="Tools" [skills]="toolsSkills"></app-skill-card>
        </div>
      </div>
    </div>
    <button
      class="main-button portfolio-button"
      (click)="navigateToPortfolio('Portfolio')"
      mat-stroked-button
    >
      I miei progetti
    </button>
  </div>
</div>
