<div class="container about-me-content d-flex" @fadeIn>
  <div class="text-center justify-content-center">
    <h1 class="about-me-h1-content color-title">Parliamo di me</h1>

    <p class="about-me-p-content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed velit
      nunc. Praesent id diam sagittis, ullamcorper nisi non, pretium ipsum. Nunc
      cursus venenatis urna, at dignissim risus ornare ac. Quisque malesuada
      arcu et augue condimentum imperdiet.
      <br />
      <br />
      Cras posuere et nunc a efficitur. Duis suscipit massa eu est pretium, quis
      lacinia elit maximus. Nam iaculis erat ac arcu pellentesque, ac
      pellentesque purus posuere. Suspendisse semper ante enim, ac elementum
      sapien imperdiet in. Maecenas rutrum accumsan lobortis. Nunc ultricies
      augue id dictum dapibus. Etiam ullamcorper sodales ante, eget euismod sem
      pulvinar quis.
      <br />
      <br />
      Donec hendrerit dolor vitae suscipit condimentum. Ut est nunc, vestibulum
      a tempor ut, rutrum vitae velit. Nulla facilisi. Suspendisse ac luctus
      massa. Aenean ac nibh ac ante varius ullamcorper..
    </p>

    <h2 class="about-me-h2-content color-title">Le mie skill</h2>
    <div class="justify-content-center">
      <div class="row">
        <div class="col d-flex justify-content-center mb-4 mt-3">
          <app-skill-card
            title="Front-End"
            [skills]="frontEndSkills"
          ></app-skill-card>
        </div>

        <div class="col d-flex justify-content-center mb-4 mt-3">
          <app-skill-card
            title="Back-End"
            [skills]="backEndSkills"
          ></app-skill-card>
        </div>

        <div class="col d-flex justify-content-center mb-4 mt-3">
          <app-skill-card
            title="Framework"
            [skills]="frameworkSkills"
          ></app-skill-card>
        </div>

        <div class="col d-flex justify-content-center mb-4 mt-3">
          <app-skill-card title="Tools" [skills]="toolsSkills"></app-skill-card>
        </div>
      </div>
    </div>
    <button
      class="path-button portfolio-button"
      (click)="navigateToPortfolio('Portfolio')"
      mat-stroked-button
    >
      I miei progetti
    </button>
  </div>
</div>
