<div *ngIf="showMenuInput">
  <div class="nav-cover">
    <div class="nav-icon-container">
      <img
        (click)="themeService.toggleTheme()"
        class="nav-theme-icon"
        [src]="
          themeService.currentTheme() === 'dark'
            ? '/entypo_light-up.svg'
            : '/ic_outline-dark-mode-white.svg'
        "
        [alt]="themeService.currentTheme() === 'dark' ? 'light' : 'dark'"
      />
      <a
        ><img
          (click)="languageService.toggleLanguage()"
          class="nav-icon-language"
          [src]="
            languageService.currentLanguage() === 'IT'
              ? '/circle-flags_it.svg'
              : '/circle-flags_lang-en.svg'
          "
          [alt]="
            languageService.currentLanguage() === 'IT' ? 'english' : 'italian'
          "
      /></a>
    </div>
    <span class="close-icon" (click)="closeMenu()"
      ><img
        class="close-icon-img"
        src="/close_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.svg"
        alt="close"
    /></span>
  </div>
  <div class="menu-container">
    <div class="nav-links">
      <a class="nav-link" href="" *ngFor="let link of navLinks">{{
        link.link
      }}</a>
    </div>
  </div>
</div>
