<div *ngIf="showMenuInput">
  <div class="nav-cover">
    <div class="nav-icon-container">
      <img
        (click)="themeService.toggleTheme()"
        class="nav-theme-icon"
        src="/entypo_light-up.svg"
        alt="Light Mode"
      />
      <a *ngIf="currentLanguage !== 'IT'"
        ><img
          (click)="changeLanguage('IT')"
          class="nav-icon-language"
          src="/circle-flags_it.svg"
          alt="IT"
      /></a>
      <a *ngIf="currentLanguage !== 'EN'"
        ><img
          (click)="changeLanguage('EN')"
          class="nav-icon-language"
          src="/circle-flags_lang-en.svg"
          alt="ENG"
      /></a>
    </div>
    <span class="close-icon" (click)="closeMenu()"
      ><img
        class="close-icon-img"
        src="/close_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.svg"
        alt="close"
    /></span>
  </div>
  <div class="menu-container">
    <div class="nav-links">
      <a class="nav-link" href="" *ngFor="let link of navLinks">{{ link }}</a>
    </div>
  </div>
</div>
