.toastContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  background-color: #dfdfdf;
  color: #000000;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  padding: 10px;
  border-radius: 5px;

  &.success {
    background-color: #cbffcc;
  }

  &.error {
    background-color: #ffd8d5;
  }
}

.toastTitle {
  margin: 8px 0 8px 0;
  font-size: 1.2rem;

  &.success {
    color: #2cc931;
  }

  &.error {
    color: #ff2f20;
  }
}

.toastParagraph {
  margin: 0;
}
