.portfolio-content{
    padding-top: 112px;
}

.portfolio-h1-content{
    font-size: 2.5rem;
    line-height: 1.6;
    margin: 0;
    text-transform: uppercase;
    margin-bottom: 48px;
    margin-top: 16px;
  }

.card-img{
    max-height: 300px;
}