.portfolio-content {
  padding-top: 112px;
}

.card-img {
  max-height: 300px;
}

@media (max-width: 769px) {
  .portfolio-h1-content {
    font-size: 3rem;
  }
}

@media (max-width: 444px) {
  .portfolio-h1-content {
    font-size: 2rem;
  }
}
