<div class="container" @fadeIn>
  <div class="text-center border mb-5 shadow rounded contact-content p-2">
    <h1 class="color-title mb-5">Contattami</h1>

    <p class="mb-4 contact-p-content">
      Puoi contattarmi a questa email:
      <b>
        <a
          class="custom-link"
          href="mailto:giuseppedibenedetto654&#64;gmail.com"
        >
          giuseppedibenedetto654&#64;gmail.com
        </a>
      </b>
    </p>

    <p class="contact-p-content">
      Puoi trovarmi anche nelle seguenti piattaforme:
    </p>
  </div>
</div>

<div class="container" @fadeIn>
  <div class="row justify-content-center">
    <div class="d-flex justify-content-around flex-wrap p-3 col-12 col-md-8">
      <div
        class="custom-link d-flex flex-column align-items-center col-12 col-md-6 mb-5"
      >
        <h3 class="contact-platforms-title color-title">Linkedin</h3>
        <a
          href="https://www.linkedin.com/in/giuseppe-di-benedetto-a02179302/?trk=opento_sprofile_details"
        >
          <img
            class="contact-logo img-fluid"
            src="../../assets/linkedin.svg"
            alt="Linkedin logo"
          />
        </a>
      </div>

      <div
        class="custom-link d-flex flex-column align-items-center col-12 col-md-6 mb-5"
      >
        <h3 class="contact-platforms-title color-title">Github</h3>
        <a href="https://github.com/GiuseppeDiBenedett0">
          <img
            class="contact-logo img-fluid"
            src="../../assets/Octicons-mark-github.svg"
            alt="Github-icon"
          />
        </a>
      </div>
    </div>
  </div>
</div>
