$md-mcgdark: (
    50 : #e2eaf2,
    100 : #b6cbdf,
    200 : #85a9ca,
    300 : #5487b4,
    400 : #306da4,
    500 : #0b5394,
    600 : #0a4c8c,
    700 : #084281,
    800 : #063977,
    900 : #032965,
    A100 : #95b6ff,
    A200 : #6294ff,
    A400 : #2f71ff,
    A700 : #155fff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-mcglight: (
    50 : #e8f0f8,
    100 : #c5daee,
    200 : #9ec2e3,
    300 : #77aad7,
    400 : #5a97cf,
    500 : #3d85c6,
    600 : #377dc0,
    700 : #2f72b9,
    800 : #2768b1,
    900 : #1a55a4,
    A100 : #dae9ff,
    A200 : #a7caff,
    A400 : #74abff,
    A700 : #5b9cff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-mcgaccent: (
    50 : #e2e7e8,
    100 : #b6c2c5,
    200 : #869a9e,
    300 : #557177,
    400 : #30525a,
    500 : #0c343d,
    600 : #0a2f37,
    700 : #08272f,
    800 : #062127,
    900 : #03151a,
    A100 : #58cfff,
    A200 : #25c1ff,
    A400 : #00acf1,
    A700 : #009ad8,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

