/* You can add global styles to this file, and also import other style files */

/* Importazione del file SCSS di Bootstrap. */
@use "@angular/material" as mat;
@include mat.core();
@import "bootstrap/scss/bootstrap";
@import "./palette.scss";

/* Aggiunta del font Montserrat da Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap");

/* Stile tipografico base per il font Montserrat */
$montserrat-typography-level: mat.define-typography-level(
  $font-family: "Montserrat, sans-serif",
  $font-weight: 400,
  $font-size: 1rem,
  $line-height: 1.5,
  $letter-spacing: normal,
);

/* Definizione dei vari livelli tipografici con il font Montserrat */
$montserrat-typography-config: mat.define-typography-config(
  $headline-1:
    mat.define-typography-level(
      112px,
      112px,
      300,
      $font-family: "Montserrat, sans-serif",
      $letter-spacing: -0.05em
    ),
  $headline-2:
    mat.define-typography-level(
      56px,
      56px,
      400,
      $font-family: "Montserrat, sans-serif",
      $letter-spacing: -0.02em
    ),
  $headline-3:
    mat.define-typography-level(
      45px,
      48px,
      400,
      $font-family: "Montserrat, sans-serif",
      $letter-spacing: -0.005em
    ),
  $headline-4:
    mat.define-typography-level(
      34px,
      40px,
      400,
      $font-family: "Montserrat, sans-serif"
    ),
  $headline-5:
    mat.define-typography-level(
      4rem,
      1.6,
      400,
      $font-family: "Montserrat, sans-serif"
    ),
  $headline-6:
    mat.define-typography-level(
      2.2rem,
      1.6,
      500,
      $font-family: "Montserrat, sans-serif"
    ),
  $subtitle-1:
    mat.define-typography-level(
      2.0rem,
      1.6,
      400,
      $font-family: "Montserrat, sans-serif"
    ),
  $subtitle-2:
    mat.define-typography-level(
      14px,
      24px,
      500,
      $font-family: "Montserrat, sans-serif"
    ),
  $body-1:
    mat.define-typography-level(
      16px,
      28px,
      400,
      $font-family: "Montserrat, sans-serif"
    ),
  $body-2:
    mat.define-typography-level(
      1.3rem,
      1.6,
      400,
      $font-family: "Montserrat, sans-serif"
    ),
  $button:
    mat.define-typography-level(
      14px,
      24px,
      500,
      $font-family: "Montserrat, sans-serif",
      $letter-spacing: 0.125em
    ),
  $caption:
    mat.define-typography-level(
      12px,
      20px,
      400,
      $font-family: "Montserrat, sans-serif"
    ),
  $overline:
    mat.define-typography-level(
      10px,
      16px,
      400,
      $font-family: "Montserrat, sans-serif",
      $letter-spacing: 0.15em
    ),
);

/* Inclusione della gerarchia tipografica definita */
@include mat.typography-hierarchy($montserrat-typography-config);

/* Applicazione della gerarchia tipografica al progetto */
body {
  @include mat.typography-hierarchy($montserrat-typography-config);
}

/* Stile per il tema scuro */
.dark-theme {
  background-color: map-get($md-mcgdark, 500);
  background-image: url(../src/assets/dark-theme-squares.svg);
  background-attachment: fixed;

  $dark-theme-primary: mat.define-palette($md-mcglight);
  $dark-theme-accent: mat.define-palette($md-mcgaccent, A400);
  $dark-theme-warn: mat.define-palette(mat.$red-palette);

  $portfolio-dark-theme: mat.define-dark-theme(
    (
      color: (
        primary: $dark-theme-primary,
        accent: $dark-theme-accent,
        warn: $dark-theme-warn,
      ),
    )
  );

  @include mat.all-component-colors($portfolio-dark-theme);
}

/* Stile per il tema chiaro */
.light-theme {
  background-color: map-get($md-mcglight, 200);
  background-image: url(../src/assets/light-theme-squares.svg);
  background-attachment: fixed;
  
  $light-theme-basic: mat.define-palette($md-mcgdark, A100);
  $light-theme-primary: mat.define-palette($md-mcgdark);
  $light-theme-accent: mat.define-palette($md-mcgaccent);
  $light-theme-warn: mat.define-palette(mat.$red-palette);

  $portfolio-light-theme: mat.define-light-theme(
    (
      color: (
        primary: $light-theme-primary,
        accent: $light-theme-accent,
        warn: $light-theme-warn,
      ),
    )
  );

  @include mat.all-component-colors($portfolio-light-theme);
}

/* Stile generale per l'html e il body, con transizione per il cambio di tema */
html,
body {
  height: 100%;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Stile dei bottoni principali */
.main-button {
  width: 290px;
  height: 60px !important;
  font-size: large !important;
  text-transform: uppercase !important;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* Stile dei bottoni principali nel tema scuro */
.dark-theme .main-button {
  background-color: map-get($md-mcgaccent, 500);
  color: map-get($md-mcglight, 300) !important;
}

/* Stile dei bottoni principali nel tema chiaro */
.light-theme .main-button {
  background-color: map-get($md-mcgaccent, 400);
  color: map-get($md-mcgdark, 50) !important;
}

/* Stile dei titoli nel tema scuro */
.dark-theme .color-title {
  color: map-get($md-mcglight, 300);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 8px;
}

/* Stile dei titoli nel tema chiaro */
.light-theme .color-title {
  color: map-get($md-mcgdark, 400);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 8px;
}

/* Stile dei paragrafi nel tema scuro */
.dark-theme p {
  color: map-get($md-mcglight, 600);
}

/* Stile dei paragrafi nel tema chiaro */
.light-theme p {
  color: map-get($md-mcgdark, 300);
}

/* Stile per le icone Material */
.material-symbols-outlined {
  cursor: pointer;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

/* Stile per le sezioni */
section {
  display: table;
}

//Stili dei bottoni di angular material.
.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

/* Stile per i bottoni della navbar */
.nav-button {
  width: 144px;
  margin-bottom: 90px !important;
}

/* Stile dei link della navbar nel tema scuro */
.dark-theme .nav-link {
  color: map-get($md-mcglight, 300);
}

/* Stile dei link della navbar nel tema chiaro */
.light-theme .nav-link {
  color: map-get($md-mcgdark, 50);
}

/* Stile dei link della navbar quando sono hover nel tema scuro */
.dark-theme .nav-link:hover {
  color: map-get($md-mcgaccent, A200);
}

/* Stile dei link della navbar quando sono hover nel tema chiaro */
.light-theme .nav-link:hover {
  color: map-get($md-mcgaccent, A700);
}

/* Stile della navbar nel tema scuro */
.dark-theme .customNav {
  border-bottom: 1px solid map-get($md-mcgdark, 50);
}

/* Stile della navbar nel tema chiaro */
.light-theme .customNav {
  border-bottom: 1px solid map-get($md-mcgdark, 500);
}

/* Stile del background della navbar nel tema scuro */
.dark-theme .bg-body-tertiary {
  background-color: map-get($md-mcgaccent, 500) !important;
}

/* Stile del background della navbar nel tema chiaro */
.light-theme .bg-body-tertiary {
  background-color: map-get($md-mcgaccent, 400) !important;
}

/* Personalizzazione della scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* Stile del thumb della scrollbar */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

/* Stile del thumb della scrollbar nel tema scuro */
.dark-theme::-webkit-scrollbar-thumb {
  background: map-get($md-mcgdark, 50);
  border-radius: 5px;
}

/* Stile del thumb della scrollbar nel tema chiaro */
.light-theme::-webkit-scrollbar-thumb {
  background: map-get($md-mcgdark, 400);
  border-radius: 5px;
}

/* Stile delle card */
.card {
  margin: 16px;
}

/* Stile del titolo delle card */
.card-title {
  font-size: 1.3rem !important;
  line-height: 1.6 !important;
}

/* Stile delle card nel tema scuro */
.dark-theme .card {
  background-color: transparent;
  border: 1px solid map-get($md-mcgdark, 50);
}

/* Stile delle card nel tema chiaro */
.light-theme .card {
  background-color: transparent;
  border: 1px solid map-get($md-mcgdark, 500);
}

/* Stile della sezione del titolo delle card nel tema scuro */
.dark-theme .card-title-section {
  border-bottom: 1px solid map-get($md-mcgdark, 50);
}

/* Stile della sezione del titolo delle card nel tema chiaro */
.light-theme .card-title-section {
  border-bottom: 1px solid map-get($md-mcgdark, 500);
}

/* Stile del titolo delle card nel tema scuro */
.dark-theme .card-title {
  color: map-get($md-mcglight, 50);
  font-weight: 600;
}

/* Stile del titolo delle card nel tema chiaro */
.light-theme .card-title {
  color: map-get($md-mcgdark, 900);
  font-weight: 600;
}

/* Stile della lista delle competenze nel tema scuro */
.dark-theme .skill-list {
  color: map-get($md-mcglight, 50);
}

/* Stile della lista delle competenze nel tema chiaro */
.light-theme .skill-list {
  color: map-get($md-mcgdark, 900);
}

/* Stile del corpo delle card delle competenze nel tema scuro */
.dark-theme .skill-card-body {
  width: 100%;
  height: 100%;
  background-color: map-get($md-mcgdark, 400);
}

/* Stile del corpo delle card delle competenze nel tema chiaro */
.light-theme .skill-card-body {
  width: 100%;
  height: 100%;
  background-color: map-get($md-mcglight, 300);
}

/* Stile dei campi delle competenze nel portfolio nel tema scuro */
.dark-theme .tool {
  background-color: map-get($md-mcgdark, 400);
}

/* Stile dei campi delle competenze nel portfolio nel tema chiaro */
.light-theme .tool {
  background-color: map-get($md-mcglight, 700);
}

/* Stile del contenitore del campo contatti nel tema scuro */
.dark-theme .contact-content {
  background-color: map-get($md-mcgdark, 400);
}

/* Stile del contenitore del campo contatti nel tema chiaro */
.light-theme .contact-content {
  background-color: map-get($md-mcglight, 400);
}

/* Importazione del file SCSS di Bootstrap (di nuovo, se necessario). */
@import "bootstrap/scss/bootstrap";
