/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@use "@angular/material" as mat;
@include mat.core();
@import "bootstrap/scss/bootstrap";
@import "./palette.scss";
//Aggiunta del font Montserrat
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap");

//Stile tipografico
$montserrat-typography-level: mat.define-typography-level(
  $font-family: "Montserrat, sans-serif",
  $font-weight: 400,
  $font-size: 1rem,
  $line-height: 1.5,
  $letter-spacing: normal,
);

//Definizione dei vari livelli tipografici
$montserrat-typography-config: mat.define-typography-config(
  $headline-1:
    mat.define-typography-level(
      112px,
      112px,
      300,
      $font-family: "Montserrat, sans-serif",
      $letter-spacing: -0.05em
    ),
  $headline-2:
    mat.define-typography-level(
      56px,
      56px,
      400,
      $font-family: "Montserrat, sans-serif",
      $letter-spacing: -0.02em
    ),
  $headline-3:
    mat.define-typography-level(
      45px,
      48px,
      400,
      $font-family: "Montserrat, sans-serif",
      $letter-spacing: -0.005em
    ),
  $headline-4:
    mat.define-typography-level(
      34px,
      40px,
      400,
      $font-family: "Montserrat, sans-serif"
    ),
  $headline-5:
    mat.define-typography-level(
      4rem,
      1.6,
      400,
      $font-family: "Montserrat, sans-serif"
    ),
  $headline-6:
    mat.define-typography-level(
      2.2rem,
      1.6,
      500,
      $font-family: "Montserrat, sans-serif"
    ),
  $subtitle-1:
    mat.define-typography-level(
      2.0rem,
      1.6,
      400,
      $font-family: "Montserrat, sans-serif"
    ),
  $subtitle-2:
    mat.define-typography-level(
      14px,
      24px,
      500,
      $font-family: "Montserrat, sans-serif"
    ),
  $body-1:
    mat.define-typography-level(
      16px,
      28px,
      400,
      $font-family: "Montserrat, sans-serif"
    ),
  $body-2:
    mat.define-typography-level(
      1.3rem,
      1.6,
      400,
      $font-family: "Montserrat, sans-serif"
    ),
  $button:
    mat.define-typography-level(
      14px,
      24px,
      500,
      $font-family: "Montserrat, sans-serif",
      $letter-spacing: 0.125em
    ),
  $caption:
    mat.define-typography-level(
      12px,
      20px,
      400,
      $font-family: "Montserrat, sans-serif"
    ),
  $overline:
    mat.define-typography-level(
      10px,
      16px,
      400,
      $font-family: "Montserrat, sans-serif",
      $letter-spacing: 0.15em
    ),
);

//Inclusione della gerarchia tipografica
@include mat.typography-hierarchy($montserrat-typography-config);

//Applicazione della gerarchia tipografica al progetto
body {
  @include mat.typography-hierarchy($montserrat-typography-config);
}

.dark-theme {
  background-color: map-get($md-mcgdark, 500);
  background-image: url(../src/assets/dark-theme-squares.svg);
  background-attachment: fixed;

  $dark-theme-primary: mat.define-palette($md-mcglight);
  $dark-theme-accent: mat.define-palette($md-mcgaccent, A400);
  $dark-theme-warn: mat.define-palette(mat.$red-palette);

  $portfolio-dark-theme: mat.define-dark-theme(
    (
      color: (
        primary: $dark-theme-primary,
        accent: $dark-theme-accent,
        warn: $dark-theme-warn,
      ),
    )
  );

  @include mat.all-component-themes($portfolio-dark-theme);
}

.light-theme {
  background-color: map-get($md-mcglight, 200);
  background-image: url(../src/assets/light-theme-squares.svg);
  background-attachment: fixed;
  
  $light-theme-basic: mat.define-palette($md-mcgdark, A100);
  $light-theme-primary: mat.define-palette($md-mcgdark);
  $light-theme-accent: mat.define-palette($md-mcgaccent);
  $light-theme-warn: mat.define-palette(mat.$red-palette);

  $portfolio-light-theme: mat.define-light-theme(
    (
      color: (
        primary: $light-theme-primary,
        accent: $light-theme-accent,
        warn: $light-theme-warn,
      ),
    )
  );

  @include mat.all-component-themes($portfolio-light-theme);
}

html,
body {
  height: 100%;
}

.path-button{
  width: 290px;
  height: 60px !important;
  font-size: large !important;
  text-transform: uppercase !important;
  margin-top: 40px;
  margin-bottom: 40px;
}
.dark-theme .path-button{
  background-color: map-get($md-mcgaccent, 500);
}

.light-theme .path-button{
  background-color: map-get($md-mcgaccent, 400);
}

.dark-theme .color-title {
  color: map-get($md-mcglight, 300);
  font-weight: 900;
}

.light-theme .color-title {
  color: map-get($md-mcgdark, 400);
  font-weight: 900;
}

.dark-theme p {
  color: map-get($md-mcglight, 600);
}

.light-theme p {
  color: map-get($md-mcgdark, 300);
}

.material-symbols-outlined {
  cursor: pointer;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.nav-button {
  width: 144px;
  margin-bottom: 90px !important;
}

.dark-theme .nav-link {
  color: map-get($md-mcglight, A400);
}

.light-theme .nav-link {
  color: map-get($md-mcgdark, 500);
}

.dark-theme .nav-link:hover {
  color: map-get($md-mcgaccent, A200);
}

.light-theme .nav-link:hover {
  color: map-get($md-mcgaccent, A700);
}

.dark-theme .customNav {
  border-bottom: 1px solid map-get($md-mcgdark, 50);
}

.light-theme .customNav {
  border-bottom: 1px solid map-get($md-mcgdark, 500);
}

.dark-theme .bg-body-tertiary {
  background-color: map-get( $md-mcgaccent, 500) !important;
}

.light-theme .bg-body-tertiary {
  background-color: map-get($md-mcgaccent, 400) !important;
}

//Personalizzazione scrollbar Chrome e Safari

::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-thumb{
  border-radius: 5px;
}

.dark-theme::-webkit-scrollbar-thumb{
  background: map-get($md-mcgdark, 50);
  border-radius: 5px;
}

.light-theme::-webkit-scrollbar-thumb{
  background: map-get($md-mcgdark, 400);
  border-radius: 5px;
}

//Personalizzazione card

.card {
  margin: 16px;
}

.card-title {
  font-size: 1.3rem !important;
  line-height: 1.6 !important;
}

.dark-theme .card {
  background-color: transparent;
  border: 1px solid map-get($md-mcgdark, 50);
}

.light-theme .card {
  background-color: transparent;
  border: 1px solid map-get($md-mcgdark, 500);
}

.dark-theme .card-title-section {
  border-bottom: 1px solid map-get($md-mcgdark, 50);
}

.light-theme .card-title-section {
  border-bottom: 1px solid map-get($md-mcgdark, 500);
}

.dark-theme .card-title {
  color: map-get($md-mcglight, 50);
  font-weight: 600;
}

.light-theme .card-title {
  color: map-get($md-mcgdark, 900);
  font-weight: 600;
}

.dark-theme .skill-list {
  color: map-get($md-mcglight, 50);
}

.light-theme .skill-list {
  color: map-get($md-mcgdark, 900);
}

.dark-theme .skill-card-body {
  width: 100%;
  height: 100%;
  background-color: map-get($md-mcgdark, 500);
}

.light-theme .skill-card-body {
  width: 100%;
  height: 100%;
  background-color: map-get($md-mcglight, 300);
}

.dark-theme .tool{
  background-color: map-get($md-mcgdark, 400 )
}

.light-theme .tool{
  background-color: map-get($md-mcglight, 700 )
}

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
