<app-loading-spinner [isLoading]="showSpinner" />
<div class="hide-content" [ngClass]="{ 'show-content': !showSpinner }">
  <app-navbar (navigate)="onNavigate($event)"></app-navbar>
  <div id="Home" class="wrapper">
    <app-main />
  </div>
  <div class="first-section-divider"></div>
  <div id="About" class="wrapper">
    <app-about />
  </div>
  <div id="Skills" class="wrapper">
    <app-skills />
  </div>
  <div class="second-section-divider"></div>
  <div id="Portfolio" class="wrapper">
    <app-portfolio />
  </div>
</div>
<router-outlet> </router-outlet>
