<div class="nav-body">
  <div class="nav-brand-container">
    <img class="nav-brand-img" src="/Logo.svg" alt="Logo" />
  </div>
  <div class="nav-links" *ngIf="languageService.dataLoaded()">
    <a
      class="nav-link"
      (click)="onNavigate(link.link)"
      *ngFor="let link of navLinks"
      >{{ link.link }}</a
    >
    <div class="nav-icon-container">
      <img
        (click)="themeService.toggleTheme()"
        class="nav-theme-icon"
        [src]="
          themeService.currentTheme() === 'dark'
            ? '/entypo_light-up.svg'
            : '/ic_outline-dark-mode.svg'
        "
        [alt]="themeService.currentTheme() === 'dark' ? 'light' : 'dark'"
      />
      <a
        ><img
          (click)="languageService.toggleLanguage()"
          class="nav-icon-language"
          [src]="
            languageService.currentLanguage() === 'IT'
              ? '/circle-flags_it.svg'
              : '/circle-flags_lang-en.svg'
          "
          [alt]="
            languageService.currentLanguage() === 'IT' ? 'english' : 'italian'
          "
      /></a>
    </div>
  </div>
  <img
    *ngIf="showMenuIcon"
    (click)="showMobileMenu()"
    class="menu-icon"
    [src]="
      themeService.currentTheme() === 'dark'
        ? '/menu_24dp_FFFFFF_FILL0_wght400_GRAD0_opsz24.svg'
        : '/menu_24dp_000000_FILL0_wght400_GRAD0_opsz24.svg'
    "
    alt="Icon"
  />
</div>
<app-nav-menu
  [showMenuInput]="showMenu"
  (showMenuOutput)="updateMenu($event)"
  [navLinks]="navLinks"
  (navigateMenu)="onNavigate($event)"
/>
