.nav-body {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  width: 100%;
  z-index: 15;
}

.nav-brand-container {
  padding-left: 20px;
}

.nav-brand-img {
  width: 48px;
  cursor: pointer;
}

.menu-icon {
  cursor: pointer;
  padding-right: 20px;
  width: 53px;
  height: 33px;
  transition: opacity 0.3s ease-in-out;
}

.menu-icon:hover {
  opacity: 0.7;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 40px;

  @media (max-width: 991px) {
    display: none;
  }
}

.nav-link {
  cursor: pointer;
  text-decoration: none;
  padding: 0 16px 0 16px;
}

.nav-icon-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-theme-icon {
  padding: 0 0 3px 16px;
  width: 30px;
}

.nav-icon-language {
  padding: 1px 0 0px 16px;
  width: 23px;
}
