.about-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 140px;
  border-radius: 5px;

  @media (max-width: 800px) {
    flex-direction: column-reverse;
  }
}

.about-img-section {
  width: 40%;

  @media (max-width: 800px) {
    width: 70%;
  }

  @media (max-width: 455px) {
    width: 90%;
  }
}

.about-img {
  width: 100%;
}

.about-text-section {
  width: 50%;
  text-align: center;
  margin: 16px;

  @media (max-width: 800px) {
    width: 100%;
    padding: 8px;
  }
}

.about-title {
  font-size: 30px;

  @media (max-width: 1225px) {
    font-size: 27px;
  }

  @media (max-width: 578px) {
    font-size: 26px;
  }

  @media (max-width: 400px) {
    font-size: 24px;
  }
}

.about-paragraph {
  font-size: 22px;
  line-height: 30px;

  @media (max-width: 800px) {
    padding: 8px;
  }

  @media (max-width: 578px) {
    font-size: 20px;
  }

  @media (max-width: 400px) {
    font-size: 18px;
  }
}
