<div class="grid-container">
  <div *ngFor="let group of skillGroup(); let i = index" class="skills-wrapper">
    <div class="text-column">
      <h2 class="title">{{ group.title }}</h2>
      <p class="paragraph">{{ group.paragraph }}</p>
    </div>
    <div class="icon-column" *ngIf="iconVisibility()[i]" [@iconsMenu]>
      <app-skill-icon [skills]="group.icons"></app-skill-icon>
    </div>
    <div class="button-container">
      <button
        mat-fab
        extended
        class="show-icon-button"
        (click)="toggleIcons(i)"
      >
        <mat-icon class="button-icon">{{
          iconVisibility()[i] ? "arrow_drop_up" : "arrow_drop_down"
        }}</mat-icon>
      </button>
    </div>
  </div>
</div>
