<div class="wrapper">
  <div class="text-container">
    <h1 class="title">
      <span *ngFor="let item of titleData" [className]="item.className">
        {{ item.text }}<br />
      </span>
    </h1>
    <div class="icon-container">
      <img
        class="social-icon"
        [src]="
          themeService.currentTheme() === 'dark'
            ? '/github-dark.svg'
            : '/github-light.svg'
        "
        alt="Icon"
      />
      <img
        class="social-icon"
        [src]="
          themeService.currentTheme() === 'dark'
            ? '/mdi_linkedin-dark.svg'
            : '/mdi_linkedin-light.svg'
        "
        alt="Icon"
      />
    </div>
  </div>
  <div class="img-container">
    <img
      class="my-img"
      [src]="
        themeService.currentTheme() === 'dark'
          ? '/my-image-dark.png'
          : '/my-image-light.png'
      "
      alt="Icon"
    />
  </div>
</div>
