.main-home-content{
  padding-top: 160px;
}

.path-about-button:hover {
  transform: scale(1.1);
}

@media (max-width: 991px) {
  .main-home-content{
    padding-top: 100px;
  }
}

@media (max-width: 769px) {
  .main-h1-content {
    font-size: 3rem;
  }

  .main-p-content {
    font-size: 1rem;
  }

  .path-button {
    width: 240px;
    height: 45px;
    font-size: medium;
  }
}

@media (max-width: 444px) {
  .main-h1-content {
    font-size: 2rem;
  }

  .main-home-content{
    padding-top: 80px;
  }
}
