.main-home-content {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-h1-content {
  margin: 0;
  text-transform: uppercase;
}

.path-about-button:hover {
  transform: scale(1.1);
}

@media (max-width: 769px) {
  .main-h1-content {
    font-size: 3rem;
  }

  .main-p-content {
    font-size: 1rem;
  }

  .path-button {
    width: 240px;
    height: 45px;
    font-size: medium;
  }
}
