//Padding superiore per il contenuto principale della home.
.main-home-content {
  padding-top: 160px;
}

//Stile e animazione per l'elemento h1.
.main-h1-content {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  max-width: fit-content;
  animation: typing-h1 4s forwards;
}

//Stile e animazione per il paragrafo principale.
.main-p-content {
  max-width: 100%;
  border-right: 3px solid;
  white-space: nowrap;
  overflow: hidden;
  max-width: fit-content;
  opacity: 0;
  animation: typing-p 3s steps(97, end) forwards, fadeIn 0s forwards 3s,
    cursor 0.4s step-end infinite alternate;
  animation-delay: 3.4s;
}

//Classe per gestire il comportamento del br nelle diverse dimensioni dello schermo.
.br{
  display: none;
}

//Animazione che simula il cursore.
@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

//Animazione per il testo h1 che appare gradualmente.
@keyframes typing-h1 {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

//Animazione per il testo p che appare gradualmente.

@keyframes typing-p {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

//Animazione per far apparire gli elementi.
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

//Animazione per l'emoji della mano che saluta.

.hand-wave {
  animation: wave 2.5s infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

//Animazione per il pulsante al passaggio del mouse.
.path-about-button:hover {
  transform: scale(1.1);
}

//Media query per mostrare il br su schermi più piccoli.
@media (max-width: 1024px){
  .br{
    display: block;
  }
}

//Media query per ridurre il padding e dimensioni del testo e del pulsante su schermi medi.
@media (max-width: 991px) {
  .main-home-content {
    padding-top: 100px;
  }
}

//Media query per ridurre il padding e dimensioni del testo e del pulsante su schermi piccoli.
@media (max-width: 769px) {
  .main-h1-content {
    font-size: 3rem;
  }

  .main-p-content {
    font-size: 1rem;
  }

  .path-button {
    width: 240px;
    height: 45px;
    font-size: medium;
  }
}

//Media query per ridurre ancora di più il padding e le dimensioni del testo su schermi molto piccoli.
@media (max-width: 444px) {
  .main-h1-content {
    font-size: 2rem;
  }

  .main-home-content {
    padding-top: 80px;
  }
}
