.card {
  margin: 1rem;
  height: 100%;
  margin-bottom: 32px;
}

.logo {
  width: 32px;
  height: 32px;
  margin-right: 16px;
}

ul {
  list-style: none;
  padding: 0;
}

.skill-list-item {
  font-size: 1rem;
  line-height: 1.6;
  margin-top: 24px;
  margin-bottom: 24px;
}

//Stile del contenitore della card.
.card {
  transition: transform 0.3s ease;
  background: linear-gradient(
    90deg,
    #ff0000 0%,
    #ff9a00 10%,
    #d0de21 20%,
    #4fdc4a 30%,
    #3fdad8 40%,
    #2fc9e2 50%,
    #1c7fee 60%,
    #5f15f2 70%,
    #ba0cf8 80%,
    #fb07d9 90%,
    #ff0000 100%
  );
  background-size: 200% 200%;
  animation: anim 2s linear infinite;
  border-radius: 0;
}

//Effetto hover per scalare la card e aggiungere padding.
.card:hover {
  border: none;
  transform: scale(1.1);
  padding: 2px;
}

//Animazione per il gradiente di sfondo della card.
@keyframes anim {
  100% {
    background-position-x: -200%;
  }
}
