@use "@angular/material" as mat;
@use "./src_theme-colors.scss" as theme;

html,
body {
  height: 100%;
  transition: color 0.3s ease;
}

body {
  margin: 0;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
}

//Tema scuro.
html {
  color-scheme: dark;
  @include mat.theme(
    (
      color: (
        primary: theme.$primary-palette,
        tertiary: theme.$tertiary-palette,
      ),
      density: 0,
    )
  );

  @include mat.progress-spinner-overrides(
    (
      active-indicator-color: #0c343d,
    )
  );

  body {
    transition: background-color 0.3s ease;
  }

  //Modifiche navbar.
  .nav-body {
    background-color: #0c343d;
  }

  .nav-link {
    color: #ffffff;
    transition: color 0.3s ease;
  }

  .menu-nav-link {
    color: #ffffff;
    transition: color 0.3s ease;
  }

  //Immagine che separa le sezioni.
  .first-section-divider {
    width: 100%;
    max-height: 350px;
    height: 100%;
    background: url("/Wave1-dark.svg") no-repeat center bottom;
    background-size: cover;
    margin: 80px 0 80px 0;

    @media (max-width: 1000px) {
      height: 30%;
    }

    @media (max-width: 800px) {
      height: 16%;
    }
  }

  //Colori di sfondo della sezione About
  .about-wrapper {
    background-color: #080808;
  }

  //Titolo della sezione testo delle skill.
  .skill-text-title {
    border-bottom: 1px solid #ffffff;
  }

  //Icone Skills
  .icon-body {
    background-color: #0c343d;
  }

  //Sezione delle skills.
  .skills-wrapper {
    background-color: #080808;
  }

  //Colore del bottone che mostra le icone.
  .show-icon-button {
    background-color: #0c343d;
  }

  //Colore icona del bottone.
  .button-icon {
    color: #000000;
  }

  //Immagine che separa le sezioni.
  .second-section-divider {
    width: 100%;
    max-height: 350px;
    height: 100%;
    background: url("/Wave2-dark.svg") no-repeat center bottom;
    background-size: cover;
    margin: 80px 0 80px 0;

    @media (max-width: 1000px) {
      height: 30%;
    }

    @media (max-width: 800px) {
      height: 16%;
    }
  }

  //Sezione progetti.
  .project-card {
    border: 2px solid #0c343d;
    border-radius: 11px;
  }

  .link-a {
    background-color: #080808;
  }

  .project-name-container {
    background-color: #0c343d;
  }

  //Sezione contatti.
  .section-contact-container {
    background-color: #0c343d;
  }

  .form-field {
    @include mat.form-field-overrides(
      (
        filled-container-color: #ffffff,
        filled-input-text-color: #000000,
        filled-label-text-color: #0000007e,
        filled-focus-label-text-color: #0000007e,
        filled-hover-label-text-color: #0000007e,
        filled-error-hover-label-text-color: #ff8174,
        filled-error-focus-label-text-color: #ff8174,
        filled-error-label-text-color: #ff8174,
        filled-active-indicator-color: #0000007e,
        filled-focus-active-indicator-color: #0000007e,
        filled-hover-active-indicator-color: #0000007e,
        filled-error-active-indicator-color: #ff8174,
        filled-error-focus-active-indicator-color: #ff8174,
        filled-error-hover-active-indicator-color: #ff8174,
      )
    );
  }

  .form-button {
    background-color: #0c343d;
  }

  .form-button {
    @include mat.button-overrides(
      (
        filled-container-color: #0c343d,
        filled-label-text-color: #ffffff,
      )
    );
  }

  //Immagine che separa le sezioni.
  .third-section-divider {
    width: 100%;
    max-height: 350px;
    height: 100%;
    background: url("/Wave3-dark.svg") no-repeat center bottom;
    background-size: cover;
    margin: 80px 0 80px 0;

    @media (max-width: 1000px) {
      height: 30%;
    }

    @media (max-width: 800px) {
      height: 16%;
    }
  }

  //Footer
  .footer {
    background-color: #040404;
  }
}

//Tema chiaro.
html.light-mode {
  color-scheme: light;
  @include mat.theme(
    (
      color: (
        primary: theme.$primary-palette,
        tertiary: theme.$tertiary-palette,
      ),
      density: 0,
    )
  );

  @include mat.progress-spinner-overrides(
    (
      active-indicator-color: #007994,
    )
  );

  body {
    transition: background-color 0.8s ease;
  }

  //Modifiche navbar.
  .nav-body {
    background-color: #007994;
  }

  .nav-link {
    color: #000000;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .menu-nav-link {
    color: #ffffff;
    transition: color 0.3s ease;
  }

  //Immagine che separa le sezioni.
  .first-section-divider {
    width: 100%;
    max-height: 350px;
    height: 100%;
    background: url("/Wave1-light.svg") no-repeat center bottom;
    background-size: cover;
    margin: 80px 0 80px 0;

    @media (max-width: 1000px) {
      height: 30%;
    }

    @media (max-width: 800px) {
      height: 16%;
    }
  }

  //Colori di sfondo della sezione About
  .about-wrapper {
    background-color: #e5e5e5;
  }

  //Titolo della sezione testo delle skill.
  .skill-text-title {
    border-bottom: 1px solid #000000;
  }

  //Icone Skills
  .icon-body {
    background-color: #007994;
  }

  //Sezione delle skills.
  .skills-wrapper {
    background-color: #e5e5e5;
  }

  //Colore del bottone che mostra le icone.
  .show-icon-button {
    background-color: #007994;
  }

  //Colore icona del bottone.
  .button-icon {
    color: #ffffff;
  }

  .link-a {
    background-color: #e5e5e5;
  }

  //Immagine che separa le sezioni.
  .second-section-divider {
    width: 100%;
    max-height: 350px;
    height: 100%;
    background: url("/Wave2-light.svg") no-repeat center bottom;
    background-size: cover;
    margin: 80px 0 80px 0;

    @media (max-width: 1000px) {
      height: 30%;
    }

    @media (max-width: 800px) {
      height: 16%;
    }
  }

  //Sezione progetti.
  .project-card {
    border: 2px solid #007994;
    border-radius: 11px;
  }

  .project-name-container {
    background-color: #007994;
  }

  //Sezione contatti.
  .section-contact-container {
    background-color: #007994;
  }

  .form-field {
    @include mat.form-field-overrides(
      (
        filled-container-color: #ffffff,
        filled-input-text-color: #000000,
        filled-label-text-color: #0000007e,
        filled-focus-label-text-color: #0000007e,
        filled-hover-label-text-color: #0000007e,
        filled-error-hover-label-text-color: #ff8174,
        filled-error-focus-label-text-color: #ff8174,
        filled-error-label-text-color: #ff8174,
        filled-active-indicator-color: #0000007e,
        filled-focus-active-indicator-color: #0000007e,
        filled-hover-active-indicator-color: #0000007e,
        filled-error-active-indicator-color: #ff8174,
        filled-error-focus-active-indicator-color: #ff8174,
        filled-error-hover-active-indicator-color: #ff8174,
      )
    );
  }

  .form-button {
    @include mat.button-overrides(
      (
        filled-container-color: #007994,
        filled-label-text-color: #000000,
      )
    );
  }

  //Immagine che separa le sezioni.
  .third-section-divider {
    width: 100%;
    max-height: 350px;
    height: 100%;
    background: url("/Wave3-light.svg") no-repeat center bottom;
    background-size: cover;
    margin: 80px 0 80px 0;

    @media (max-width: 1000px) {
      height: 30%;
    }

    @media (max-width: 800px) {
      height: 16%;
    }
  }

  //Footer
  .footer {
    background-color: #cdcdcd;
  }
}

.nav-theme-icon {
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.nav-theme-icon:hover {
  transform: scale(1.2);
}

.nav-icon-language {
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.nav-icon-language:hover {
  transform: scale(1.2);
}
