@use "@angular/material" as mat;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
}

html {
  color-scheme: dark;
  @include mat.theme(
    (
      color: mat.$violet-palette,
      typography: Montserrat,
      density: 0,
    )
  );
}

html.light-mode {
  color-scheme: light;
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: Roboto,
      density: 0,
    )
  );
}
